Source: libgems-ruby
Section: interpreters
Priority: optional
Maintainer: Ubuntu MOTU Developers <ubuntu-motu@lists.ubuntu.com>
XSBC-Original-Maintainer: Daigo Moriwaki <daigo@debian.org>
Build-Depends: cdbs, debhelper (>= 4.0.0), ruby1.8, rdoc, ruby1.9
Standards-Version: 3.8.0
Homepage: http://rubygems.org/
XS-Vcs-git: git://github.com/NeilW/deb-rubygems.git
XS-Vcs-browser: http://github.com/NeilW/deb-rubygems/tree/master

Package: rubygems
Architecture: all
Depends: rubygems1.8, ruby
Description: package management framework for Ruby libraries/applications
 This is a way to package Ruby libraries/applications for distribution.
 RubyGems provides the ability to manage concurrent versions of libraries and
 dependencies between those libraries. Using RubyGems, you can:
   * download and install Ruby libraries easily
   * not worry about libraries A and B depending on different versions of
     library C
   * easily remove libraries you no longer use
 .
 This package is a dependency package, which depends upon the Debian default
 Ruby version (currently 1.8.x).

Package: rubygems1.8
Architecture: all
Depends: ruby1.8, rdoc1.8
Suggests: ruby1.8-dev, build-essential, rubygems-doc
Conflicts: libgems-ruby1.8, rubygems (< 1.2)
Replaces: libgems-ruby1.8, rubygems (< 1.2)
Description: package management framework for Ruby libraries/applications
 This is a way to package Ruby libraries/applications for distribution.
 RubyGems provides the ability to manage concurrent versions of libraries and
 dependencies between those libraries. Using RubyGems, you can:
   * download and install Ruby libraries easily
   * not worry about libraries A and B depending on different versions of
     library C
   * easily remove libraries you no longer use
 .
 This package provides RubyGems with Ruby 1.8.

Package: rubygems1.9
Architecture: all
Depends: ruby1.9 (>= 1.9.0.1-5), rdoc1.9
Suggests: ruby1.9-dev (>= 1.9.0.1-5), build-essential, rubygems-doc
Conflicts: gem1.9
Replaces: gem1.9
Description: package management framework for Ruby libraries/applications
 This is a way to package Ruby libraries/applications for distribution.
 RubyGems provides the ability to manage concurrent versions of libraries and
 dependencies between those libraries. Using RubyGems, you can:
   * download and install Ruby libraries easily
   * not worry about libraries A and B depending on different versions of
     library C
   * easily remove libraries you no longer use
 .
 This package provides RubyGems with Ruby 1.9.

Package: rubygems-doc
Section: doc
Architecture: all
Suggests: www-browse, ruby1.8 | ruby1.9
Description: package management framework for Ruby libraries/applications
 This is a way to package Ruby libraries/applications for distribution.
 RubyGems provides the ability to manage concurrent versions of libraries and
 dependencies between those libraries. Using RubyGems, you can:
   * download and install Ruby libraries easily
   * not worry about libraries A and B depending on different versions of
     library C
   * easily remove libraries you no longer use
 .
 This package provides documents of RubyGems, which is available for both 
 Ruby 1.8 and 1.9.
